<form action="/search" method="POST">
	<section id="intro">
		<div class="header">
			<h2>Welcome!</h2>
		</div>
		<div class="contents">
			I need to put together a schedule for <select name="season">
			<option>fall</option>
			<option>spring</option>
			</select>
			<select name="year">
				<option>2016</option>
			</select>.
		</div>
	</section>
	<section id="preferences">
		<div class="header">
			<h2>Schedule preferences</h2>
		</div>
		<div class="contents">
			I want between <input type="number" value="12" name="minhours" /> and <input type="number" value="17" name="maxhours" /> hours of classes and <select name="lunchbreak">
			<option value="yes">a lunch break</option>
			<option value="no">no lunch break</option>
			</select> every day between 11 am and 2 pm. Classes are fine at the following times:
			<table class="weekview">
				<thead>
					<tr>
						<td class="right">Time</td>
						<td>Monday</td>
						<td>Tuesday</td>
						<td>Wednesday</td>
						<td>Thursday</td>
						<td>Friday</td>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<input type="hidden" name="unavailable" />
		</div>
		<div class="buttons">
			<button type="button" class="primary">Continue</button>
		</div>
	</section>
	<section id="import" class="collapsed">
		<div class="header">
			<h2>Import from audit</h2>
		</div>
		<div class="contents">
			You can import classes from your degree audit instead of typing them in manually.
			<ol>
				<li>Open <a href="https://utdirect.utexas.edu/apps/degree/audits/requests/history/" target="_blank">your audit request history</a></li>
				<li>Select an audit</li>
				<li>Press Ctrl-A (select all)</li>
				<li>Press Ctrl-C (copy)</li>
				<li>Click below and press Ctrl-V (paste)</li>
			</ol>
			<textarea placeholder="Paste here!" rows="3"></textarea>
		</div>
		<div class="buttons">
			<button type="button" class="secondary">Skip</button>
			<button type="button" class="primary">Import</button>
		</div>
	</section>
	<section id="unclassified" class="collapsed">
		<div class="header">
			<h2>Unclassified requirements</h2>
		</div>
		<div class="contents">
			<div class="alert">Some of your requirements were unable to be added automatically!</div>
			Don't worry, you can add these requirements manually below.
			<ul></ul>
		</div>
		<div class="buttons">
			<button type="button" class="primary">Okay</button>
		</div>
	</section>
	<section id="classes" class="collapsed">
		<div class="header">
			<h2>Add filter</h2>
		</div>
		<div class="contents">
			Any other wishes for your schedule? Don't forget to indicate any reserved classes (for example by your pod, FIG, or other program) as "I have to have."
			<div id="picker">
				<select class="priority">
					<option value="regular">It would be nice to have a class</option>
					<option value="high">I have to have a class</option>
				</select>
				<select class="filter">
					<option value="course identifier">with course number</option>
					<option value="unique">with unique number</option>
					<option value="field of study">in the field of</option>
					<option value="instructor">with instructor</option>
					<option value="flags">fulfilling the flag</option>
					<option value="core">fulfilling core requirement</option>
					<option value="level">at the level of</option>
					<option value="hours">with a certain number of hours</option>
				</select>
				<div class="options">
					<div class="courseidentifier unique instructor orable">
						<div class="value">
							<input type="text" placeholder="type here..." />
						</div>
					</div>
					<div class="fieldofstudy orable">
						<div class="value">
							<select>
								<option value="" selected disabled>select a field of study</option>
								<option value="ACC">ACC - Accounting</option>
								<option value="ADV">ADV - Advertising</option>
								<option value="ASE">ASE - Aerospace Engineering</option>
								<option value="AFR">AFR - African & African Diaspora Std</option>
								<option value="AFS">AFS - Air Force Science</option>
								<option value="ASL">ASL - American Sign Language</option>
								<option value="AMS">AMS - American Studies</option>
								<option value="AHC">AHC - Ancient Hist and Classical Civ</option>
								<option value="ANT">ANT - Anthropology</option>
								<option value="ALD">ALD - Applied Learning & Development</option>
								<option value="ARA">ARA - Arabic</option>
								<option value="ARE">ARE - Architectural Engineering</option>
								<option value="ARI">ARI - Architectural Interior Design</option>
								<option value="ARC">ARC - Architecture</option>
								<option value="AED">AED - Art Education</option>
								<option value="ARH">ARH - Art History</option>
								<option value="ART">ART - Art, Studio</option>
								<option value="AET">AET - Arts and Entertainment Technologies</option>
								<option value="AAS">AAS - Asian American Studies</option>
								<option value="ANS">ANS - Asian Studies</option>
								<option value="AST">AST - Astronomy</option>
								<option value="BSN">BSN - Bassoon</option>
								<option value="BEN">BEN - Bengali</option>
								<option value="BCH">BCH - Biochemistry</option>
								<option value="BIO">BIO - Biology</option>
								<option value="BME">BME - Biomedical Engineering</option>
								<option value="BDP">BDP - Bridging Disciplines</option>
								<option value="B A">B A - Business Administration</option>
								<option value="BGS">BGS - Business, Govt, and Society</option>
								<option value="CHE">CHE - Chemical Engineering</option>
								<option value="CH">CH - Chemistry</option>
								<option value="CHI">CHI - Chinese</option>
								<option value="C E">C E - Civil Engineering</option>
								<option value="CLA">CLA - Clarinet</option>
								<option value="C C">C C - Classical Civilization</option>
								<option value="CGS">CGS - Cognitive Science</option>
								<option value="CSD">CSD - Comm Sciences and Disorders</option>
								<option value="COM">COM - Communication</option>
								<option value="CMS">CMS - Communication Studies</option>
								<option value="CRP">CRP - Community & Regional Planning</option>
								<option value="C L">C L - Comparative Literature</option>
								<option value="COE">COE - Computational Engineering</option>
								<option value="CSE">CSE - Computatnl Sci, Engr, and Math</option>
								<option value="C S">C S - Computer Science</option>
								<option value="CON">CON - Conducting</option>
								<option value="CTI">CTI - Core Texts and Ideas</option>
								<option value="CRW">CRW - Creative Writing</option>
								<option value="EDC">EDC - Curriculum and Instruction</option>
								<option value="CZ">CZ - Czech</option>
								<option value="DAN">DAN - Danish</option>
								<option value="DES">DES - Design</option>
								<option value="DEV">DEV - Developmental Studies</option>
								<option value="D B">D B - Double Bass</option>
								<option value="DRS">DRS - Drum Set</option>
								<option value="DCH">DCH - Dutch</option>
								<option value="ECO">ECO - Economics</option>
								<option value="EDA">EDA - Educational Administration</option>
								<option value="EDP">EDP - Educational Psychology</option>
								<option value="E E">E E - Electrical & Computer Engr</option>
								<option value="EER">EER - Energy and Earth Resources</option>
								<option value="ENM">ENM - Engineering Management</option>
								<option value="E M">E M - Engineering Mechanics</option>
								<option value="E S">E S - Engineering Studies</option>
								<option value="E">E - English</option>
								<option value="ESL">ESL - English As A Second Language</option>
								<option value="ENS">ENS - Ensemble</option>
								<option value="EVE">EVE - Environmental Engineering</option>
								<option value="EVS">EVS - Environmental Science</option>
								<option value="EUP">EUP - Euphonium</option>
								<option value="EUS">EUS - European Studies</option>
								<option value="FIN">FIN - Finance</option>
								<option value="F A">F A - Fine Arts</option>
								<option value="FLU">FLU - Flute</option>
								<option value="FLE">FLE - Foreign Language Education</option>
								<option value="FR">FR - French</option>
								<option value="F C">F C - French Civilization</option>
								<option value="F H">F H - French Horn</option>
								<option value="G E">G E - General Engineering</option>
								<option value="GRG">GRG - Geography</option>
								<option value="GEO">GEO - Geological Sciences</option>
								<option value="GER">GER - German</option>
								<option value="GSD">GSD - German, Scandinavian, and Dutch</option>
								<option value="GOV">GOV - Government</option>
								<option value="GK">GK - Greek</option>
								<option value="GUI">GUI - Guitar</option>
								<option value="HAR">HAR - Harp</option>
								<option value="H S">H S - Health and Society</option>
								<option value="HED">HED - Health Education</option>
								<option value="HEB">HEB - Hebrew</option>
								<option value="HIN">HIN - Hindi</option>
								<option value="HIS">HIS - History</option>
								<option value="HDF">HDF - Human Dev and Family Sciences</option>
								<option value="HDO">HDO - Human Dimensions of Orgs</option>
								<option value="HMN">HMN - Humanities</option>
								<option value="ILA">ILA - Iberian & Lat Amer Lang & Cult</option>
								<option value="IMS">IMS - Identity Management and Security</option>
								<option value="INF">INF - Information Studies</option>
								<option value="I B">I B - International Business</option>
								<option value="IRG">IRG - Intl Rels and Global Studies</option>
								<option value="ISL">ISL - Islamic Studies</option>
								<option value="ITL">ITL - Italian</option>
								<option value="ITC">ITC - Italian Civilization</option>
								<option value="JPN">JPN - Japanese</option>
								<option value="J S">J S - Jewish Studies</option>
								<option value="J">J - Journalism</option>
								<option value="KIN">KIN - Kinesiology</option>
								<option value="KOR">KOR - Korean</option>
								<option value="LAR">LAR - Landscape Architecture</option>
								<option value="LAT">LAT - Latin</option>
								<option value="LAL">LAL - Latin American Languages, Indigenous</option>
								<option value="LAS">LAS - Latin American Studies</option>
								<option value="LAW">LAW - Law</option>
								<option value="LEB">LEB - Legal Environment of Business</option>
								<option value="L A">L A - Liberal Arts</option>
								<option value="LAH">LAH - Liberal Arts Honors</option>
								<option value="LIN">LIN - Linguistics</option>
								<option value="MAL">MAL - Malayalam</option>
								<option value="MAN">MAN - Management</option>
								<option value="MIS">MIS - Management Information Systems</option>
								<option value="MFG">MFG - Manufacturing Sys Engineering</option>
								<option value="MNS">MNS - Marine Science</option>
								<option value="MKT">MKT - Marketing</option>
								<option value="MSE">MSE - Materials Science & Engr</option>
								<option value="M">M - Mathematics</option>
								<option value="M E">M E - Mechanical Engineering</option>
								<option value="MDV">MDV - Medieval Studies</option>
								<option value="MAS">MAS - Mexican American Studies</option>
								<option value="MEL">MEL - Middle Eastern Langs and Culs</option>
								<option value="MES">MES - Middle Eastern Studies</option>
								<option value="M S">M S - Military Science</option>
								<option value="MOL">MOL - Molecular Biology</option>
								<option value="MUS">MUS - Music</option>
								<option value="MBU">MBU - Music Business</option>
								<option value="MRT">MRT - Music Recording Technology</option>
								<option value="NSC">NSC - Natural Sciences</option>
								<option value="N S">N S - Naval Science</option>
								<option value="NEU">NEU - Neuroscience</option>
								<option value="NOR">NOR - Norwegian</option>
								<option value="N">N - Nursing</option>
								<option value="NTR">NTR - Nutrition</option>
								<option value="OBO">OBO - Oboe</option>
								<option value="OPR">OPR - Opera</option>
								<option value="O M">O M - Operations Management</option>
								<option value="ORI">ORI - Operations Rsch & Indstrl Engr</option>
								<option value="ORG">ORG - Organ</option>
								<option value="PER">PER - Percussion</option>
								<option value="PRS">PRS - Persian</option>
								<option value="PGE">PGE - Petroleum & Geosystems Engr</option>
								<option value="PGS">PGS - Pharmacy Graduate Studies</option>
								<option value="PHM">PHM - Pharmacy Pharmd</option>
								<option value="PHL">PHL - Philosophy</option>
								<option value="PED">PED - Physical Education</option>
								<option value="P S">P S - Physical Science</option>
								<option value="PHY">PHY - Physics</option>
								<option value="PIA">PIA - Piano</option>
								<option value="POL">POL - Polish</option>
								<option value="POR">POR - Portuguese</option>
								<option value="PRC">PRC - Portuguese Civilization</option>
								<option value="PSY">PSY - Psychology</option>
								<option value="P A">P A - Public Affairs</option>
								<option value="PBH">PBH - Public Health</option>
								<option value="P R">P R - Public Relations</option>
								<option value="RTF">RTF - Radio-Television-Film</option>
								<option value="R E">R E - Real Estate</option>
								<option value="R S">R S - Religious Studies</option>
								<option value="RHE">RHE - Rhetoric and Writing</option>
								<option value="R M">R M - Risk Management</option>
								<option value="REE">REE - Rus, East Eur, & Eurasian Stds</option>
								<option value="RUS">RUS - Russian</option>
								<option value="SAN">SAN - Sanskrit</option>
								<option value="SAX">SAX - Saxophone</option>
								<option value="STC">STC - Sci & Tech Commercialization</option>
								<option value="STM">STM - Sci/Tech/Engineering/Math Educ</option>
								<option value="S C">S C - Serbian/Croatian</option>
								<option value="SEL">SEL - Slavic Languages and Culture</option>
								<option value="S S">S S - Social Science</option>
								<option value="S W">S W - Social Work</option>
								<option value="SOC">SOC - Sociology</option>
								<option value="SPN">SPN - Spanish</option>
								<option value="SPC">SPC - Spanish Civilization</option>
								<option value="SED">SED - Special Education</option>
								<option value="STA">STA - Statistics</option>
								<option value="SDS">SDS - Statistics and Data Sciences</option>
								<option value="SWE">SWE - Swedish</option>
								<option value="TAM">TAM - Tamil</option>
								<option value="TEL">TEL - Telugu</option>
								<option value="TXA">TXA - Textiles and Apparel</option>
								<option value="T D">T D - Theatre and Dance</option>
								<option value="TRO">TRO - Trombone</option>
								<option value="TRU">TRU - Trumpet</option>
								<option value="TBA">TBA - Tuba</option>
								<option value="TUR">TUR - Turkish</option>
								<option value="T C">T C - Tutorial Course</option>
								<option value="UGS">UGS - Undergraduate Studies</option>
								<option value="URB">URB - Urban Studies</option>
								<option value="URD">URD - Urdu</option>
								<option value="UTL">UTL - UTeach-Liberal Arts</option>
								<option value="UTS">UTS - UTeach-Natural Sciences</option>
								<option value="VIA">VIA - Viola</option>
								<option value="VIO">VIO - Violin</option>
								<option value="V C">V C - Violoncello</option>
								<option value="VAS">VAS - Visual Art Studies</option>
								<option value="VOI">VOI - Voice</option>
								<option value="WGS">WGS - Women's and Gender Studies</option>
								<option value="WRT">WRT - Writing</option>
								<option value="YID">YID - Yiddish</option>
								<option value="YOR">YOR - Yoruba</option>
							</select>
						</div>
					</div>
					<div class="flags">
						<select>
							<option value="" selected disabled>select a flag</option>
							<option value="Wr">Writing</option>
							<option value="QR">Quantitative reasoning</option>
							<option value="GC">Global cultures</option>
							<option value="CD">Cultural diversity</option>
							<option value="EL">Ethics and leadership</option>
							<option value="II">Independent inquiry</option>
						</select>
					</div>
					<div class="core">
						<select>
							<option value="" selected disabled>select a requirement</option>
							<option value="C1">Communication</option>
							<option value="MA">Mathematics</option>
							<option value="N1">Natural Sciences</option>
							<option value="HU">Humanities</option>
							<option value="VP">Visual and Performing Arts</option>
							<option value="HI">History</option>
							<option value="GO">Government</option>
							<option value="SB">Social and Behavioral Science</option>
							<option value="ID">Institutionally Designated Option</option>
							<option value="N2">Natural Sciences</option>
						</select>
					</div>
					<div class="level">
						<select>
							<option value="" selected disabled>select a division</option>
							<option value="lower">lower-division</option>
							<option value="upper">upper-division</option>
							<option value="graduate">graduate-division</option>
						</select>
					</div>
					<div class="hours">
						<input type="number" placeholder="3" />
					</div>
				</div>
			</div>
		</div>
		<div class="buttons">
			<button type="button" class="primary">Add filter</button>
		</div>
	</section>
	<section id="chosen" class="collapsed">
		<div class="header">
			<h2>Selected filters</h2>
		</div>
		<div class="contents">
			<div class="empty">No filters added. Add them above.</div>
		</div>
		<div class="buttons">
			<button type="submit" class="primary">Search</button>
		</div>
		<input type="hidden" name="filters" />
	</section>
</form>
<div id="loader">
	<div class="spinner">
		<div class="spinny one"></div>
		<div class="spinny two"></div>
		<div class="spinny three"></div>
	</div>
	<div class="text">
		<h2>Processing...</h2>
		Looking through courses to find the best schedule for you!
	</div>
</div>
